<nav class="navbar navbar-expand-lg bg-light border text-white">
  <div class="container-fluid">
    <!-- <a href="../assets/images/main/welcome.webp" -->
    <a href="#"
      ><b class="lead px-1"
        >T<i class="fa-solid fa-earth-americas" style="font-size: 22px"></i>UR
        CLUB</b
      >
    </a>
    <form action="#">
      <mat-slide-toggle></mat-slide-toggle>

      <button routerLink="#" class="btn btn-dark px-3 mx-1">Log In</button>
      <button class="btn btn-dark mx-1">Register</button>
    </form>
  </div>
</nav>

<mat-sidenav-container class="bg-dark-subtle" style="height: 91%">
  <mat-sidenav mode="side" opened>
    <mat-nav-list class="bg-light" style="width: 200px">
      <a class="border-bottom" mat-list-item routerLink="chennai">Chennai</a>
      <a class="border" mat-list-item routerLink="madurai">Madurai</a>
      <a class="border" mat-list-item routerLink="thanjavur">Thanjavur</a>
      <a class="border" mat-list-item routerLink="covai">Coimbatore</a>
      <a class="border" mat-list-item routerLink="kanchipuram">Kanchipuram</a>
      <a class="border" mat-list-item routerLink="vellore">Vellore</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- <mat-sidenav-content class="p-4 bg-dark-subtle" >
    <p >
      <router-outlet></router-outlet>
    </p>
  </mat-sidenav-content> -->
  <router-outlet></router-outlet>
</mat-sidenav-container>
<!-- <h4>"Welcome to the Enchanting World of Tamil Nadu!"</h4>
  <h4>"Your adventure begins here. Happy exploring!"</h4> -->

<!-- --for adding dark theme using bootstrap
  data-bs-theme="dark"
  <div class="form-check form-switch mx-4">
    <input type="checkbox" role="switch" id="flexSwitchCheck" checked onclick="myFunction()">
  </div> -->
