<div class="container-fluid">
  <!-- <div class="row">
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/gangaikondacholapuram.jpg"
          alt="gangaikondacholapuram"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Gangaikondacholapuram</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/manora-fort.jpg"
          alt=" "
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Manora Fort Thanjavur</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/punnainallur-mariamman.jpg"
          alt="Punnainallur Mariamman"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Punnainallur Mariamman</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/royal palace and art gallery.jpg"
          alt="royal palace and art gallery"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title"></h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/thanjavur-brihadeeshwara temple.jpg"
          alt="thanjavur-brihadeeshwara temple"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Brihadeeshwara Temple</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/srinivase ramanujan house.jpg"
          alt="srinivase ramanujan house"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Srinivase Ramanujan House</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/swami malai temple.jpg"
          alt="swami malai temple"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Swami Malai Temple</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-1">
        <img
          src="../../assets/images/thanjavur/the serfoji sarasvati mahal library.jpg"
          alt="the serfoji sarasvati mahal library"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Serfoji Sarasvati Mahal Library</h4>
          <P class="card-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            molestiae provident eaque.</P
          >
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
    
  </div> -->

  <div class="row my-1">
    <div *ngFor="let place of places" class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card my-1">
        <img [src]="place.img" [alt]="place.altname" class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title">{{place.title | titlecase }}</h4>
          <P class="card-text">{{place.text | titlecase }}</P>
          <button class="btn btn-dark mx-1 px-4">Like</button>
          <button class="btn btn-dark px-3">Share</button>
        </div>
      </div>
    </div>
  </div>
</div>
